@import "@styles/utils.scss";

$clip-board-border-radius: 20px;

.clip-board-container {
    position: relative;
    @include set-width;

    height: auto;

    margin: 20px auto;
    padding: 30px;
    border-radius: $clip-board-border-radius;

    background-color: $color-gray-400;

    &:hover {
        cursor: pointer;
    }

    .clip-board__copy {
        position: absolute;

        width: calc(100% - 30px * 2);

        svg {
            display: block;

            margin-left: auto;
            margin-right: 0px;

            font-size: 1.2rem;
        }
    }
    .clip-board__content {
        font-size: 1rem;
    }
}
