@import "@styles/utils.scss";

$selector-height: 60px;
$selector-border-radius: 60px;

.selector-container {
    display: flex;

    width: 100%;
    max-width: 600px;
    height: $selector-height;

    margin: 10px auto;
    border-radius: $selector-border-radius;

    background-color: $color-gray-200;

    font-size: 1.3rem;
}

.selector-item {
    @include place-center;

    height: $selector-height;

    border-radius: $selector-border-radius;

    color: $color-gray;

    &:hover {
        cursor: pointer;
    }
}
.selector-item__active {
    color: $color-white;
    background-color: $color-primary;
}
